<div class="text-center">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <img class="mb-4" src="https://media-exp1.licdn.com/dms/image/C4E0BAQE_rmBX5ec7PQ/company-logo_200_200/0?e=2159024400&v=beta&t=7Oz54O2REfF4oPQrBYo49DuojxpsMAOT8-K4pB4RvhU" alt="" >

      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <%= f.input :email,
      required: false,
      autofocus: true, 
      class: "form-control" %>    
      <%= f.input :password,
      required: false %>      
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

      <%= f.button :submit, "Log in", :class => 'btn btn-primary' %>
      <p class="mt-5 mb-3 text-muted">© 2020</p>
      <% end %>
      </div>


