<p id="notice"><%= notice %></p>

<h1>Estágiarios</h1>
<table class="table">
  <thead>
    <tr>
      <th style="text-align: center">Nome</th>
      <th style="text-align: center">CPF</th>
      <th style="text-align: center">Telefone</th>
      <th style="text-align: center">Status</th>
      <th style="text-align: center">Informações</th>
      <th style="text-align: center" >Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="text-align: center"><%= user.name %></td>
        <td style="text-align: center"><%= user.cpf %></td>
        <td style="text-align: center"><%= user.phone %></td>
        <td style="text-align: center"><%= user.status == 1 ? "Ativo":"Inativo" %></td>
        <td style="text-align: center"><%= link_to 'Pontos', user, :class => "btn btn-primary" %></td>
        <td style="text-align: center">
        <%= link_to user,  :class => "btn btn-info"  do %>
          <i class="fa fa-info-circle"></i>
        <% end %>
        <%= link_to  edit_user_path(user), :class => "btn btn-success" do %>
          <i class="fa fa-pencil"></i>
          <% end %>
        <%= link_to  user, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse estagiário?' } , :class => "btn btn-danger" do %>
        <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

