
<div class="card text-center" style="width: 100%">
<div class="card-body">
  <h5 class="card-title">Jornada do dia: <%= @journey.start_journey.strftime("%d/%m/%Y") %> </h5>
  <h6 class="card-subtitle mb-2 text-muted">Todos dados serão exibidos aqui</h6>
  <p class="card-text">  <strong>Horário de Chegada: </strong><%= @journey.start_journey.strftime("%Hh:%Mm") %></p>
  <p class="card-text">  <strong>Inicío do Almoço: </strong><%= @journey.lunch_start.strftime("%Hh:%Mm") %></p>
  <p class="card-text">  <strong>Término do Almoço: </strong><%= @journey.lunch_end.strftime("%Hh:%Mm") %></p>
  <p class="card-text">  <strong>Horário de Saída: </strong><%= @journey.lunch_end.strftime("%Hh:%Mm") %></p>
  <p class="card-text">  <strong>Tempo de Almoço: </strong><%= @journey.lunch_time.strftime("%Hh:%Mm") %></p>
  <p class="card-text">  <strong>Tempo de Jornada: </strong><%= @journey.worked_hours.strftime("%Hh:%Mm") %></p>

  <%= link_to 'Voltar', journeys_path %>
</div>