<!DOCTYPE html>
<html>
  <head>
    <title>Sistema Ponto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navbar' if current_user  %>
  <div class="container">
  <%= yield %>
  </div>
  <footer>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://bootstrap.com/"> bootstrap.com</a>
  </div>
  </footer>
  </body>
</html>
